<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4"><i class="fas fa-phone"></i> (773) 395-1929</div>
      <div class="col-md-4">
        <i class="fas fa-envelope-open"> contact@PPRE.com</i>
      </div>
      <div class="col-md-4">
        <div class="social text-right">
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="#">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#">
            <i class="fab fa-pintrest"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>